body{   
    font-family: "PT Serif", sans-serif;
    background-image: url(/Images/bgtest4.png);
    overflow: hidden;
}

.login{
    display: flex;
    justify-content: center;
}

.register{
    display: flex;
    justify-content: center;
}

.card h1{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #00387C;
    
}

.card{
    width: 40rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    background-color: transparent;
    /* background-color: rgba(0, 100, 124, 0.9); */
    backdrop-filter: blur(15px);
}

.content{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.wrapper input{
    width: 20rem;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 50px;
    border: none;
    outline: none;
}

.wrapper input[type="submit"]{
    padding: 10px;
    background-color: #00387C;
    color: #fff;
    cursor: pointer;
}

.content i{
    position: absolute;
    right:20px;
    font-size: 20px;
    color: #00387C;
    transform: translateY(60%);
}

.content i:hover{
    color: #000;
}

.remember-forgot .label{
    font-size: 20px;
    font-weight: 500;
    color: #00387C;
}

.remember-forgot{
    display: flex;
    margin:-15px;
    margin-bottom: 20px;
    width: 20rem;
    font-size: 16px;
    margin: 10px 0px 30px 0px; 
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
}

.remember-forgot a{
    text-decoration: none;
    color: #00387C;
    font-weight: 500;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.button {
    border-radius: 50px;
    background-color: #00387C;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 22rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .register-link a{
    text-decoration: none;
    color: #00387C;
    font-weight: 500;
  }

 .login-link a{
    text-decoration: none;
    color: #00387C;
    font-weight: 500;
  }

  .register-link a:hover{
    text-decoration: underline;
  }

  .login-link a:hover{
    text-decoration: underline;
 }

 .back-home button{
    border-radius: 50px;
    background-color: #00387C;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 12rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
 }

 .back-home button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .back-home button span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
  }
  
  .back-home button:hover span {
    padding-left: 25px;
  }

  .back-home button:hover span:after {
    opacity: 1;
    left: 0;
  }

