body{   
    font-family: "PT Serif", sans-serif;
    background-image: url(/Images/bgtest2.jpg);
    overflow: hidden;
}

.login{
    display: flex;
    justify-content: center;
}

.card h1{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0088a9;
    
}

.card{
    width: 40rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    background-color: transparent;
    /* background-color: rgba(0, 100, 124, 0.9); */
    backdrop-filter: blur(30px);
}

.content{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input{
    width: 22rem;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 50px;
    border: none;
    outline: none;
}

input[type="submit"]{
    padding: 10px;
    background-color: #0088a9;
    color: #fff;
    cursor: pointer;
}

.content i{
    position: absolute;
    right:20px;
    font-size: 20px;
    color: #0088a9;
    transform: translateY(60%);
}

.content i:hover{
    color: #000;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    
    width: 20rem;
    font-size: 16px;
    margin: 10px 0px 30px 0px; 
}

