/* Nav Bar */
li, a{
    font-family: Aller, sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
    background-color: dimgrey;
    color: #0088a9;
    font-size: 20px;
}

.logo {
    margin-right: 100px;
    cursor: pointer;
}

ol, ul {
    padding-left: 0;
}

.nav-links {
    list-style: none;

}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

.navbtn{
    padding: 9px 25px;
    background-color: darkslategrey;
    border: none;
    border-radius:50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
}

.navbtn:hover {
    background-color: #0088a9;
}
