/* Search Bar */
form{
    background-color: #eee;
    width: 60rem;
    height: 3rem;
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 20px;
}

input{
    border: none;
    outline: none;
    background-color: #eee;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-family: 'PT Serif', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.search-bar{
    margin: 0 auto;
    margin-top: 0px;
    padding-bottom: 70px;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}